<div class="container">
  <div class="left">
    <div class="left-header">
      <div class="row inputs">
        <label>
          From Grade:
          <input type="number" [(ngModel)]="fromGrade" />
        </label>
        <label>
          To Grade:
          <input type="number" [(ngModel)]="toGrade" />
        </label>
      </div>
      <button (click)="generateGrades()">Generate Grades</button>
    </div>
    show grades list here (Rasangika)
  </div>

  <div class="right">
    <form (ngSubmit)="generateClasses()">
      <button type="submit">Generate Classes</button>
    </form>
  </div>
</div>
