<div class="container">
  <h2>Character Form Creator</h2>
  <div class="form-container">
    <form [formGroup]="characterForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <mat-form-field class="half-width">
          <mat-label>Index No</mat-label>
          <input matInput placeholder="Index No" value="" formControlName="indexNo" />
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-label>Pupils Name </mat-label>
          <input matInput placeholder="Pupils Name" value="" formControlName="pupilsName" />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="quater-width">
          <mat-label>Date of Admission</mat-label>
          <input matInput [matDatepicker]="doa" placeholder="MM/DD/YYYY" formControlName="dateofAdmission" />
          <mat-datepicker-toggle matSuffix [for]="doa"></mat-datepicker-toggle>
          <mat-datepicker #doa></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="quater-width">
          <mat-label>Date of Leaving</mat-label>
          <input matInput [matDatepicker]="dol" placeholder="MM/DD/YYYY" formControlName="dateofLeaving" />
          <mat-datepicker-toggle matSuffix [for]="dol"></mat-datepicker-toggle>
          <mat-datepicker #dol></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="half-width">
          <mat-label>Last Grade Passed</mat-label>
          <input matInput placeholder="Last Grade Passed" value="" type="number" min="1" max="12"
            oninput="this.value = Math.min(Math.max(this.value, 1), 13)" formControlName="lastgradePassed" />
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-label>Character and Conduct </mat-label>
          <mat-select formControlName="characerandConduct">
            <mat-option value="veryGood">Very Good</mat-option>
            <mat-option value="good">Good</mat-option>
            <mat-option value="moderate">Moderate</mat-option>
            <mat-option value="bad">Bad</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="half-width">
          <mat-label>Extra Curriculary</mat-label>
          <input matInput placeholder="Extra Curricular" value="" formControlName="extraCurricular" />
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-label>Special Skills </mat-label>
          <input matInput placeholder="Special" value="" formControlName="specialSkills" />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="half-width">
          <mat-label>Malbehavior </mat-label>
          <input matInput placeholder="Malbehaviour" value="" formControlName="malBehavior" />
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-label>Good Behaviour</mat-label>
          <input matInput placeholder="Good Behaviour" value="" formControlName="goodBehaviour" />
        </mat-form-field>

        <div class="row">
          <mat-form-field class="half-width">
            <mat-label>Leadership Skills</mat-label>
            <input matInput placeholder="Leadership Skills" value="" formControlName="leadershipSkills" />
          </mat-form-field>

          <mat-form-field class="half-width">
            <mat-label>Principals Recomendation</mat-label>
            <input matInput placeholder="Pricipals Recomondation" value="" formControlName="principalsRecomendation" />
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="half-width">
            <mat-label>Date Issued</mat-label>
            <input matInput placeholder="Date Issued" value="" formControlName="dateIssued" />
          </mat-form-field>
        </div>

        <div class="row">
          <div class="button">
            <button type="submit" mat-raised-button color="primary">
              Print
            </button>
            <button mat-raised-button color="danger">Reset</button>

          </div>

        </div>
      </div>
    