<div class="container">
    <h2>Leaving Form Creator</h2>
    <div class="form-container">
        <form>
            <div class="row">
                <mat-form-field class="half-width">
                    <mat-label>Pupils Name </mat-label>
                    <input matInput placeholder="Application No" value="" />
                </mat-form-field>

                <mat-form-field class="half-width">
                    <mat-label>Index No</mat-label>
                    <input matInput placeholder="Applicant Name" value="" />
                </mat-form-field>

            </div>

            <div class="row">
                <mat-form-field class="quater-width">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="dob" placeholder="MM/DD/YYYY" />
                    <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                    <mat-datepicker #dob></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="quater-width">
                    <mat-label>Religion</mat-label>
                    <mat-select>
                        <mat-option value="buddhism">Buddhism</mat-option>
                        <mat-option value="hindu">Hindu</mat-option>
                        <mat-option value="islam">Islam</mat-option>
                        <mat-option value="christian">Christian</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="quater-width">
                    <mat-label>Date of Admission</mat-label>
                    <input matInput [matDatepicker]="dob" placeholder="MM/DD/YYYY" />
                    <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                    <mat-datepicker #dob></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="row">

                <mat-form-field class="half-width">
                    <mat-label>Full name of the Father</mat-label>
                    <input matInput placeholder="Address*" value="" />
                </mat-form-field>
                <mat-form-field class="half-width">
                    <mat-label>Address of the father</mat-label>
                    <textarea matInput rows="1" maxlength="1000" placeholder="Enter Remarks"></textarea>
                </mat-form-field>

            </div>

            <div class="row">


                <mat-form-field class="half-width">
                    <mat-label>Cause of Leaving</mat-label>
                    <input matInput placeholder="Applicant Name" value="" />
                </mat-form-field>
                <mat-form-field class="half-width">
                    <mat-label>Current Class subjects</mat-label>
                    <input matInput placeholder="Applicant Name" value="" type="" />
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="half-width">
                    <mat-label>Last Grade Passed</mat-label>
                    <input matInput placeholder="Applicant Name" value="" type="number" min="1" max="12"
                        oninput="this.value = Math.min(Math.max(this.value, 1), 13)" />
                </mat-form-field>
                <mat-form-field class="half-width">
                    <mat-label>Progress of academic Field</mat-label>
                    <mat-select>
                        <mat-option value="veryGood">Very Good</mat-option>
                        <mat-option value="good">Good</mat-option>
                        <mat-option value="moderate">Moderate</mat-option>
                        <mat-option value="bad">Bad</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            
            <div class="row">
                <mat-form-field class="half-width">
                    <mat-label>Sports Ability / leadership </mat-label>
                    <input matInput placeholder="Applicant Name" value="" />
                </mat-form-field>
                <mat-form-field class="half-width">
                    <mat-label>Special Skills </mat-label>
                    <input matInput placeholder="Applicant Name" value="" />
                </mat-form-field>
            </div>

            <div class="row">


                <div class="button">
                    <button type="submit" mat-raised-button color="primary">Add Applicant</button>
                    <button mat-raised-button color="danger">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>